.btn {
	margin-bottom: 20px; 
}

.spinner {
	margin: 20px;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}


.denomination-button:before {

	font-family: FontAwesome;
    content: "\f096";

  
}

.denomination-button.active:before {

	font-family: FontAwesome;
    content: "\f046";

  
}