.btn {
	margin-bottom: 20px; 
}

.spinner {
	margin: 20px;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}


.denomination-button:before {

	font-family: FontAwesome;
    content: "\f096";

  
}

.denomination-button.active:before {

	font-family: FontAwesome;
    content: "\f046";

  
}

.jumbotron {
    margin: 0px 15px 0px 15px;
    background-image: url(../img/cover/1.jpg);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
}